<form method="post">
	<h2>Create a new post</h2>
	<p>
		<label for="title">Title</label>
		<input id="title" />
	</p>
	<p>
		<label for="content">Content</label>
		<textarea id="content" rows="4"></textarea>
	</p>
	<p>
		<button>Post</button>
	</p>
</form>